{% extends "layout.html" %}
{% block content %}
     <!-- ***** Fleet Starts ***** -->
     <section class="section" id="trainers">
      <div class="container">
          <br>
          <div class="row">
            <div class="col-lg-4">
              <center>
                <div class="product-item">
                <img src="https://i.ibb.co/dBK6V7t/tractor-Arjun.jpg"  width="250" height="250" >
                </div>
              </center>
            </div>

              <h5 style="text-transform: uppercase;">{{ listing[2] }}</h5>
              <p class="mb-2 text-muted text-uppercase small">Tools</p>

              <p><span><strong>&#8377  {{ listing[3] }}</strong></span></p>

              <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                officia quis dolore quos sapiente tempore alias.</p>
              <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                  <tbody>
                    <tr>
                      <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                      <td>5407X</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                      <td>Maharashtra ,Punjab</td>
                    </tr>
                  </tbody>
                </table>
              </div>
      <br><br>
      <a href="thank.html" class="btn btn-success" role="button" aria-pressed="true">Buy now</a>
      <a href="" class="btn btn-info" role="button" aria-pressed="true">
        <i class="fa fa-shopping-cart"></i>Add to cart</a>
    </div>
  </div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="trainer-item">
                      <div class="image-thumb">
                        <img src="{{ url_for('static', filename='bs_images/' + listing[6]) }}" alt="Product Image">
                      </div>
                      <div class="down-content">
                          <span>
                              <sup>&#8377</sup>{{ listing[3] }}
                          </span>

                          <h4 style="text-transform: uppercase;">{{ listing[2] }}</h4>

                          <p>{{ listing[4] }}</p>

                          <ul class="social-icons">
                              <li><a href="product-details.html">+ Order</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      </div>
  </section>
  <script>
      setTimeout(function(){ location.reload(); }, 50000);
  </script>
{% endblock content%}








