{% extends "layout.html" %}
{% block content %}
    <div class="col-xl">
      <div class="row flex-nowrap align-items-center">
        <div class="col">
          <div class="service-item">
            <i class="fa fa-database"></i>
            <h4>Temperature</h4>
            <p>Value: {{ posts[0][2] }} °C</p>
          </div>
        </div>
        <div class="col">
          <div class="service-item">
            <i class="fa fa-database"></i>
            <h4>Humidity</h4>
            <p>Value: {{ posts[1][2] }} %</p>
          </div>
        </div>
      </div>
      <div class="row flex-nowrap align-items-center">
        <div class="col">
          <div class="service-item">
            <i class="fa fa-database"></i>
            <h4>Average Soil Humidity</h4>
            <p>Value: {{ posts[1][2] }} %</p>
          </div>
        </div>
        <div class="col">
          <div class="service-item">
            <i class="fa fa-database"></i>
            <h4>Rain Probability</h4>
            <p>Value: {{ posts[2][2] }} %</p>
          </div>
        </div>
      </div>
      <div class="row flex-nowrap align-items-center">
        <div class="col">
          <div class="service-item">
            <i class="fa fa-database"></i>
            <h4>Wind Speed</h4>
            <p>Value: {{ posts[1][2] }} m/s</p>
          </div>
        </div>
        <div class="col">
          <div class="service-item">
            <i class="fa fa-database"></i>
            <h4>Camera Analysis</h4>
            <p>Value: {{ posts[2][2] }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content%}