{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="user/{{ sensor[0] }}">Source</a>
          <small class="text-muted">00/00/2000</small>
        </div>
        <h2><a class="article-title" href="#">Headline</a></h2>
        <p class="article-content">Content</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="user/{{ sensor[0] }}">Source</a>
          <small class="text-muted">00/00/2000</small>
        </div>
        <h2><a class="article-title" href="#">Headline</a></h2>
        <p class="article-content">Content</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="user/{{ sensor[0] }}">Source</a>
          <small class="text-muted">00/00/2000</small>
        </div>
        <h2><a class="article-title" href="#">Headline</a></h2>
        <p class="article-content">Content</p>
      </div>
    </article>
{% endblock content%}